html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  background-image: url("../images/gobanpic-crop.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
